{{#if asdf}} this {{else}} that {{/if}}

<div class="content__main{{#if article.hasRelatedContents}} content__main--has-related-articles{{/if}}{{~#if isShortVariation}} content__main--short{{/if}}"
  {{#if giftStatus.isEnabled}} data-js-gift-enabled=true{{/if}}
  data-js-gift-enabled={{#if giftStatus.isEnabled}}true{{/if}}
  {{title}}
>
  {{#each items}} subTitle : {{subTitle}} {{/each}}
</div>

{{#each items}} <div><div></div><p><img></p></div> {{/each}}
{{#each items}}
  <div asdf={{asdf}}>
   asdf
  </div>
{{/each}}

{{#with child}}
{{parentToo}}
{{onlyParent}}
{{/with}}